
.qodo

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
coverage/
Maven_Dependencies_report.html
Maven_Dependencies_report.md
output/Maven_Dependencies_report.html
output/Maven_Dependencies_report.md
